@font-face {
    font-family: vazir;
    font-weight: 300;
    src: local('Vazir Light'), local('Vazir-Light'),
        url('../fonts/vazir-light.woff2') format('woff2'),
        url('../fonts/vazir-light.woff') format('woff');
}
