@font-face {
    font-family: vazir;
    font-weight: 400;
    src: local('Vazir '), local('Vazir-'),
        url('../fonts/vazir-.woff2') format('woff2'),
        url('../fonts/vazir-.woff') format('woff');
}
