@font-face {
    font-family: vazir;
    font-weight: 100;
    src: local('Vazir Thin'), local('Vazir-Thin'),
        url('../fonts/vazir-thin.woff2') format('woff2'),
        url('../fonts/vazir-thin.woff') format('woff');
}
