<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>
            {% block title %}
            {{ config.title }}
            {% endblock title %}
        </title>

        {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}" />
        {% endif %}

        {% block css %}
        {% endblock css %}
        <link rel="stylesheet" href="{{ get_url(path="styles.css") }}" />
    </head>

    <body>
        {% if config.extra.minimal_blog_avatar or config.extra.minimal_blog_avatar_thumbnail %}
        <div class="avatar">
            {% if config.extra.minimal_blog_avatar %}
            <a href="{{ get_url(path=config.extra.minimal_blog_avatar) }}">
            {% else %}
            <a href="{{ config.base_url }}">
            {% endif %}
            {% if config.extra.minimal_blog_avatar_thumbnail %}
            <img src="{{ get_url(path=config.extra.minimal_blog_avatar_thumbnail) }}" alt="{{ config.title }}" title="{{ config.title }}" />
            {% else %}
            <img src="{{ get_url(path=config.extra.minimal_blog_avatar) }}" alt="{{ config.title }}" title="{{ config.title }}" />
            {% endif %}
            </a>
        </div>
        {% endif %}

        <div class="content">
            {% block content %}
            {% set paginator = get_section(path="blog/_index.md") %}
            {% for page in paginator.pages %}
            <article class="post">
                <header>
                    <h3 class="post-title">
                        <a href="{{ page.permalink }}">
                            {{ page.title }}
                        </a>
                    </h3>
                    <span class="post-meta">
                        {% if page.date %}
                        <i class="fa fa-calendar-o"></i> {{ page.date | date(format="%Y-%m-%d") }}
                        {% endif %}
                        |
                        <i class="fa fa-clock-o"></i> {{ page.reading_time }} minute(s) read
                    </span>
                </header>
                {% if page.summary %}
                <div class="post-excerpt">
                    {{ page.summary | safe }}
                    <nav class="post-excerpt-link">
                        <a href="{{ page.permalink }}">{{ config.extra.minimal_blog_excerpt_link }}</a>
                    </nav>
                </div>
                {% endif %}
            </article>
            {% endfor %}

            <nav>
              <p>
                {% if paginator.previous %}
                  <a href="{{ paginator.previous }}">&laquo; Previous</a> |
                {% endif %}
                <span>Page </span>
                {% if paginator.next %}
                  | <a href="{{ paginator.next }}">Next &raquo;</a>
                {% endif %}
              </p>
            </nav>
            {% endblock content %}
        </div>
    </body>
</html>
